global
    log /dev/log    local0 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 4000
    strict-limits

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option http-keep-alive
    option forwardfor
    timeout connect 5000ms
    timeout client 120s
    timeout server 120s
    retries 3
    balance leastconn

# --- EXTERNAL FRONTENDS ---

frontend http_in
    bind 203.189.123.205:80
    redirect scheme https code 301

frontend streamlit_https_in
    bind 203.189.123.205:443
    mode tcp
    option tcplog
    default_backend streamlit_https_backend

# --- INTERNAL FRONTENDS ---

frontend ollama_llama31_api_internal
    bind 172.20.20.252:11400
    mode http
    default_backend ollama_llama31_backend

frontend ollama_openchat_api_internal
    bind 172.20.20.252:11401
    mode http
    default_backend ollama_openchat_backend

frontend mongodb_internal
    bind 172.20.20.252:27017
    mode tcp
    default_backend mongodb_k8s_nodes

frontend qdrant_internal
    bind 172.20.20.252:6333
    mode tcp
    default_backend qdrant_k8s_nodes

# --- BACKENDS ---

# HTTPS passthrough to Streamlit (TLS terminates inside K8s)
backend streamlit_https_backend
    mode tcp
    balance leastconn
    option tcp-check
    server streamlit_cn1 172.20.20.1:30443 check
    server streamlit_cn2 172.20.20.2:30443 check
    server streamlit_cn3 172.20.20.3:30443 check

backend ollama_llama31_backend
    balance leastconn
    option httpchk GET /
    server llama31_cn1 172.20.20.1:31400 check 
    server llama31_cn2 172.20.20.2:31400 check
    server llama31_cn3 172.20.20.3:31400 check

backend ollama_openchat_backend
    balance leastconn
    option httpchk GET /
    server openchat_cn1 172.20.20.1:31401 check
    server openchat_cn2 172.20.20.2:31401 check
    server openchat_cn3 172.20.20.3:31401 check

backend mongodb_k8s_nodes
    mode tcp
    balance leastconn
    option tcp-check
    default-server check inter 2s fall 2 rise 3
    server mongo_cn1 172.20.20.1:30017
    server mongo_cn2 172.20.20.2:30017
    server mongo_cn3 172.20.20.3:30017

backend qdrant_k8s_nodes
    mode tcp
    balance leastconn
    default-server check inter 2s fall 2 rise 3
    server qdrant_cn1 172.20.20.1:30033
    server qdrant_cn2 172.20.20.2:30033
    server qdrant_cn3 172.20.20.3:30033

# --- HAProxy Stats Page ---
listen stats_page
    bind 127.0.0.1:6080
    mode http
    stats enable
    stats uri /haproxy_stats
    stats auth "admin:R4ph43l#2025!"
    stats refresh 10s
    stats show-node
