[mongo]
connection_string = "{MONGO_HOST}:${MONGO_PORT}?authSource=admin"

[qdrant]
url = "${QDRANT_URL}"
api_key = ""

[ollama]
models = ["${OLLAMA_MODELS_1}", "${OLLAMA_MODELS_2}"]
url = ["${OLLAMA_URL_1}", "${OLLAMA_URL_2}"]